.body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.windows {
    background-color: white;
    border: 1px solid #c91919;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

canvas {
    border: 2px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  } 